.items{
    background-color: #aaff94;
    padding : 20px;
    margin: 20px;
    border: 1px solid #ccc;
    min-height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 100px;


}

.item{
    background-color: #ff847e;
    padding: 20px;
    border: 1px solid #ccc;
    margin: 10px;
}

/* .items .item:nth-child(3){
    align-self: start;
} */

.post{
    background-color: #efefef;
    padding: 20px;
    border: 1px solid #ccc;
    margin: 10px;
    width: 400px;
    border-radius: 10px;

}

.post img{
    width: 100%;
    border-radius: 10px;
}

.author-info{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.post-actions{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 5px;
}