html{
    font : 1em 'Open Sans', sans-serif;
}

.dropdown-button{
    cursor: pointer;
}

.flexbox-basics{
    border : 1px solid #ccc;
    padding: 20px;
    background-color: #ff847e;
}

.flex-layout{
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #fecea8;
}

.flex-layout img{
    width: 100%;
}

.positioning{
    display: flex;
    flex-direction: row;
}
.hidden{
    display: none;
}

.visible{
    display: block;
}

.flex-button, .grid-button{
    background-color: #2d6b7a;
    color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 5px;
    width: 100px;
    text-align: center;
    margin: 5px;
}

.flex-button:hover{
    background-color: #ff847e;
}

.grid-button:hover{
    background-color: #ff847e;
}

.active {
    background-color: #ff8c2e;
}

